<ion-header>
  <ion-toolbar>
    <ion-title>Glamorgan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-sliding *ngFor="let todo of jugadores">
    <ion-item routerLink="../glam">
      <div><img src="{{todo.foto}}"></div>
      <div><ion-label>{{todo.nombre}}</ion-label></div>
      
      
      
    </ion-item>
  </ion-item-sliding>
  
 
  
  
</ion-content>
